@import "/modules/css/common.scss";
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
  overflow-x: hidden;
}
.main-header {
    position: relative;
    width: 100%;
    min-height: 65px;
    z-index: 1001;
    color: #fff;
  .logo{
    -webkit-transition: width .3s ease-in-out;
    -o-transition:width .3s ease-in-out;
    transition:width .3s ease-in-out;
    display: block;
    float: left;
    position: relative;
    z-index:2020;
    width:$width-w;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    overflow: hidden;
    img{
      width: 64px;
      height: 65px;
      margin-top: -7px;
    }
    .logo-lg{
      font-size: 28px;
      img{
        margin-left: -6px;
      }
    }
  }
  .navbar{
    -webkit-transition: width .3s ease-in-out;
    -o-transition:width .3s ease-in-out;
    transition:width .3s ease-in-out;
    position: absolute;
    top:0;
    height: 65px;
    width: 100%;
  }
}
.navbar{
  .sidebar-toggle{
    -webkit-transition: all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
    height: 100%;
    padding:0 15px;
    margin-left: $width-w;
    border: none;
    line-height: 65px;
  }
  .navbar-custom-menu{
    .nav{
      height: 65px;
      .user{
        min-width: 116px;
        height:100%;
        .dropdown-toggle{
          height: 100%;
          padding-top: 13px;
          img{
            width: 39px;
            height:39px;
            border-radius: 50%;
          }
          .username{
            position: relative;
            top:-13px;
            margin-left: 5px;
            font-size: 13px;
            letter-spacing: 2px;
          }

        }
        .dropdown-menu{
          position: absolute;
          left: auto;
          right: 0;
          min-width: 138px;
          padding: 0;
          border:1px solid #d9d9d9;
          border-radius: inherit;
          box-shadow: none;
          background: #fff;
          text-align: left;
          color: #000;
          li  a{
            height: 36px;
            line-height: 36px;
            padding: 0;
            padding-left: 15px;
          }
        }
      }
      .skin{
        position: relative;
        width: 80px;
        height: 65px;
        em{
          position: absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          margin:auto;
        }
      }
      .user_news{
        position: relative;
        width: 70px;
        text-align: center;
        height: 65px;
        line-height: 45px;
        .usernews_num{
          display: inline-block;
          position: absolute;
          top:5px;
          left:25px;
          -webkit-text-size-adjust:none;
          font-size: 12px;
          em{
            left: -7px;
            z-index: 222;
            width: 18px;
            height: 18px;
            background: #f5a200;
            border-radius: 50%;
            span{
              display: inline-block;
              width: 18px;
              height: 18px;
              text-align: center;
              line-height: 16px;
              position: absolute;
              z-index: 2222;
              top:0;
              left: 0;
              font-style: normal;
            }
          }
        }
      }
    }
  }
}
//dropdowns in user
.dropdown-menu{
   li{
      border-bottom: 1px solid #d9d9d9;
      font-size: 12px;
    }
    li:last-child{
      border-bottom:none;
    }
  .user-header{
    .img-circle{
      width: 40px;
      height: 40px;
      margin-top: 10px;
    }
    .user-admin{
      width: auto;
      margin-left: 5px;
      margin-top: 13px;
      p{
        margin: 0;
        width: auto;
      }
    }
    .signout{
        font-size: 13px;
        line-height: 60px;
        cursor: pointer;
      }
  }
  .userbody{
    padding: 15px;
  }
}



