@import "/modules/css/common";
.mod_serch{
    padding-left: $padding-inner;
    border-bottom: 5px solid $home_bg;
    font-size: $ser_font;
    padding-bottom: 10px;
    .form-group{
        height: 60px;
        line-height: 60px;
        margin-right: 45px;
        label{
            margin-right: 5px;
        }
    }
    .pub_status{
        min-width: 95px;
    }
    .btn_query{
        position: relative;
        top:2px;
    }
}
/*.modal{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    width: 330px;
    height: 200px;
    .modal-dialog{
        width: 100%;
        margin: 0;
    }
    .modal-header{
        height: 32px;
        line-height: 32px;
        padding: 0;
        padding-right: 15px;
        padding-left: 25px;
        border: none;
        background: $bluer-base;
        color: #fff;
        .close{
            color: #fff;
            margin-top: 2px;
            opacity:1;
            &:hover{
                color: #f0f0f0;
            }
        }
    }
    .modal-content{
        border-radius: 0;
    }
    em{
        width: 62px;
        height: 62px;
    }
    .modal-body{
        padding-top: 32px;
        span{
            position: relative;
            top:-30px;
        }
    }
    .modal-footer{
        border-top: 0;
        text-align: center;
        padding: 0;
        padding-bottom: 20px;
    }
}*/

/*loading*/
/*.loading{
    width: 130px;
    margin: 20px;
    text-align: center;
    div{
        color: #BCD68D;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 10px;
    }
    span{
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border-radius: 50%;
        background: #BCD68D;
    }
}
@keyframes loading
{
    0% {transform: scale(0.5)}
    50% {transform: scale(1.2)}
    100%{transform: scale(0.5)}
}
.loading span:nth-child(2){
    animation: loading 1.2s 0s infinite;
}
.loading span:nth-child(3){
    animation: loading 1.2s .1s infinite;
}
.loading span:nth-child(4){
    animation: loading 1.2s .2s infinite;
}
.loading span:nth-child(5){
    animation: loading 1.2s .3s infinite;
}
.loading span:nth-child(6){
    animation: loading 1.2s .4s infinite;
}*/

/*账号提醒*/
#bank_warn{
    .modal-dialog{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 495px;
    }
    .modal-content{
        margin: 0 auto;
        border-radius: 10px;
        background: transparent;
        box-shadow: none;
        border: none;
    }
    .modal-header{
        padding: 0 25px;
        border-bottom: none;
        overflow: hidden;
        .close{
            width: 30px;
            height: 33px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background: #d8d8d8;
            text-align: center;
            opacity: 1;
            span{
                position: relative;
                top:2px;
            }
            &:hover{
                background: #e8e8e8;
            }
        }
    }
    .modal-body{
        .embox{
            height: 333px;
            .close{
                width: 30px;
                height: 30px;
                background: #fff;
                text-align: center;
                line-height: 30px;
                opacity: 1;
                border-radius: 50%;
                &:hover{
                    color: #fff;
                }
            }
        }
        em{
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 349px;
            height: 304px;
            margin: 0 auto;
            margin-bottom: 25px;
        }
        p{
            text-align: center;
        }
        .modal_user{
            font-size: 23px;
            color: #e6e6e6;
        }
        .modal_warn{
            font-size: 30px;
            color: #fff;
        }
    }
    .modal-footer{
        border-top: none;
        text-align: center;
        padding-bottom: 32px;
        .btn_detail{
            width: 223px;
            height: 43px;
            line-height: 43px;
            border-radius: 20px;
            font-size: 25px;
        }
    }
}
.iframe {
    display: block;
    width: 100%;
    min-height: calc(100% - 53px);
    background-color: #fff;
}
