@import "/modules/css/common.scss";
$blue-header-hover:#1094c0;
$sidebg-base:#222d32;
$sidebg-hover:#1e282c;
$side-border_bottom:#374e62;
$side-border_right:#01b2e2;
$side-list:#2c3b41;
$side-list-hover:#167792;
$side-list-border_bottom:#263339;
.main-sidebar{
  -webkit-transition: all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
  position: absolute;
  top:0;
  min-height: 100%;
  padding-top: 65px;
  background: $sidebg-base;
  width: $width-w;
  height: auto;
  .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
  }
}
.sidebar-menu > li > a {
  display: block;
  min-height:54px ;
  line-height: 54px;
  padding: 0 35px 0 25px;
  font-size: $font-size-base;
  border-bottom:1px solid $side-border_bottom;
  &:hover{
    background: $sidebg-hover;
    border-right: 4px solid $side-border_right;
  }
  .fa.fa-link{
    display: inline-block;
    width: 17px;
    height: 15px;
  }
  span{
    margin-left: 10px;
  }
}
.sidebar-menu li.active{
  .side-menu_title{
    background: $sidebg-hover;
    border-right: 4px solid $side-border_right;
  }
}
.sidebar-menu li > a > .fa-angle-left,
.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
  position: absolute;
  right:15px;
  -webkit-transiton:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -ms-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out ;
  display: block;
  width: 5px;
  height: 9px;
  padding: 0;
  background: url("/modules/images/right-arrow.png");
}
.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar-menu li.active > .treeview-menu {
  display: block;
}
.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background: $side-list;
  font-size: $font-size-small;
}
.treeview-menu {
  padding-left: 20px;
  li{
    margin: 0;
    a{
      display: block;
      height: 36px;
      padding-left: 38px;
      line-height: 36px;
      border-bottom: 1px solid $side-list-border_bottom;
      .positionicon{
        float: left;
        width: 8px;
        height: 10px;
        margin-top: 13px;
        background: url("/modules/images/position.png");
      }
      span{
        display: inline-block;
        margin-left: 13px;
      }
    }
  }
  li:hover{
    background: $side-list-hover;
  }
}


/*color control*/
.control-sidebar{
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  position: absolute;
  //top:55px;
  top:0;
  bottom: 0;
  right: -194px;
  z-index: 1000;
  width: 194px;
  padding-top:65px;
  min-height: 100%;
  background: $sidebg-base;
  color: #fff;
  p{
    margin-bottom: 10px;
    padding-left: 15px;
    margin-top:30px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  ul{
    padding-left: 4px;
    li{
      float: left;
      width: 46px;
      font-size: $font-size-base;
      margin-top: 10px;
      margin-left: 12px;
      cursor: pointer;
      img{
        width:46px ;
        height: 22px;
      }
      h5{
        text-align: center;
        margin-left: 8px;
      }
    }
  }
}
.control-sidebar.open{
  right: 0;
}