$bluer-base:#01a3d4;
$blue-header-hover:#1094c0;
$blue_side-border_right:#01b2e2;
/*多处使用button按钮样式*/
$blue-btn_:#55aae0;
$blue-btn_hover:#167792;
.skinblue{
  .navbar .sidebar-toggle:hover {
    background: $blue-header-hover;
  }
  .logintext {
    color: $blue-header-hover;
  }
  .main-header{
    background: $bluer-base;
    .logo{
      background: $blue-header-hover;
    }
    .skin.open,.user.open{
      background: $blue-header-hover;
    }
    .dropdown .user:hover{
      background: $blue-header-hover;
    }
  }
  .nav > li > a:hover{
    background: $blue-header-hover;
  }
  .nav > li > a:focus{
    background: transparent;
  }
  .sidebar-menu > li > a {
    &:hover{
      border-right: 4px solid $blue_side-border_right;
    }
  }
  .sidebar-menu li.active{
    .side-menu_title{
      border-right: 4px solid $blue_side-border_right;
    }
  }
  .sidebar-mini.sidebar-collapse{
    .sidebar-menu > li:hover {
      .side-menu_title {
        border-left: 4px solid $blue_side-border_right;
      }
    }
    .sidebar-menu > li.sactive {
      .side-menu_title {
        border-left: 4px solid $blue_side-border_right;
      }
    }
  }
  .treeview-menu {
    li:hover {
      background: $blue-btn_hover;
    }
  }
  .inner_border{
    background: $bluer-base;
  }
  .pack_info{
    .pack_title{
        border-top: 1px solid $bluer-base;
    }
  }
  .info_title{
    border-top: 2px solid $bluer-base;
  }
  .btn{
    background: $blue-btn_;
  }
  .btn:hover, .btn:focus, .btn.focus{
    background: $blue-btn_hover;
    color: #fff;
  }
}

// 紫色
$purple-base: #605ca8;
$purple-header-hover:#534f93;
$purple_side-border_right:#645fc4;
/*多处使用button按钮样式*/
$purple-btn_:#605ca8;
$purple-btn_hover:#534f93;
.skinpurple{
  .navbar .sidebar-toggle:hover {
    background: $purple-header-hover;
  }
  .logintext {
    color: $purple-header-hover;
  }
  .main-header{
    background: $purple-base;
    .logo{
      background: $purple-header-hover;
    }
    .skin.open,.user.open{
      background: $purple-header-hover;
    }
    .dropdown .user:hover{
      background: $purple-header-hover;
    }
  }
  .nav > li > a:hover{
    background: $purple-header-hover;
  }
  .nav > li > a:focus{
    background: transparent;
  }
  .sidebar-menu > li > a {
    &:hover{
      border-right: 4px solid $purple_side-border_right;
    }
  }
  .sidebar-menu li.active{
    .side-menu_title{
      border-right: 4px solid $purple_side-border_right;
    }
  }
  .sidebar-mini.sidebar-collapse{
    .sidebar-menu > li:hover {
      .side-menu_title {
        border-left: 4px solid $purple_side-border_right;
      }
    }
    .sidebar-menu > li.sactive {
      .side-menu_title {
        border-left: 4px solid $purple_side-border_right;
      }
    }
  }
  .treeview-menu {
    li:hover {
      background: $purple-btn_hover;
    }
  }
  .inner_border{
    background: $purple-base;
  }
  .pack_info{
    .pack_title{
        border-top: 1px solid $purple-base;
    }
  }
  .info_title{
    border-top: 2px solid $purple-base;
  }
  .btn{
    background: $purple-btn_;
  }
  .btn:hover, .btn:focus, .btn.focus{
    background: $purple-btn_hover;
    color: #fff;
  }
}

