$bluer-base:#01a3d4;
$blue-header-hover:#1094c0;
$blue_side-border_right:#01b2e2;
/*多处使用button按钮样式*/
$blue-btn_:#55aae0;
$blue-btn_hover:#167792;
$blue_save: #e5f6fb;
.skinblue{
  .navbar .sidebar-toggle:hover {
    background: $blue-header-hover;
  }
  .logintext {
    color: $blue-header-hover;
  }
  .main-header{
    background: $bluer-base;
    .logo{
      background: $blue-header-hover;
    }
    .skin.open,.user.open{
      background: $blue-header-hover;
    }
    .dropdown .user:hover{
      background: $blue-header-hover;
    }
  }
  .nav > li > a:hover{
    background: $blue-header-hover;
  }
  .nav > li > a:focus{
    background: transparent;
  }
  .sidebar-menu > li > a {
    &:hover{
      border-right: 4px solid $blue_side-border_right;
    }
  }
  .sidebar-menu li.active{
    .side-menu_title{
      border-right: 4px solid $blue_side-border_right;
    }
  }
  .sidebar-mini.sidebar-collapse{
    .sidebar-menu > li:hover {
      .side-menu_title {
        border-left: 4px solid $blue_side-border_right;
      }
    }
    .sidebar-menu > li.sactive {
      .side-menu_title {
        border-left: 4px solid $blue_side-border_right;
      }
    }
  }
  .treeview-menu {
    li:hover {
      background: $blue-btn_hover;
    }
    li.active {
      background: $blue-btn_hover;
    }
  }
  .inner_border{
    background: $bluer-base;
  }
  .pack_info{
    .pack_title{
        border-top: 1px solid $bluer-base;
    }
  }
  .info_title{
    border-top: 2px solid $bluer-base;
  }
  .btn{
    background: $blue-btn_;
  }
  .btn:hover, .btn:focus, .btn.focus{
    background: $blue-btn_hover;
    color: #fff;
  }
}

.huan{
  position: relative;
  top:0;
  font-size: 10px;
  a{
    display: inline-block;
    color: $bluer-base;
    &:hover{
      color: $blue-header-hover;
    }
  }
}
.schbox {
  select {
    color: $bluer-base;
  }
}
//tab
#mytab{
  li.active{
    a{
      color: $bluer-base;
      border-bottom: 2px solid $bluer-base;
    }
  }
}
.nav-tabs{
  li.active{
    a{
      background: $bluer-base;
    }
  }
}

a.submit{
  background: $bluer-base;
  &:hover{
    background: $blue-header-hover;
  }
}
#myModal,#order_Modal,#allorder_Modal{
  .modal-header {
    button span.cha{
      background: $bluer-base;
      &:hover{
        background: $blue-header-hover;
      }
    }
  }
  .modal-body {
    .body_body{
      .body_title{
        color: $bluer-base;
      }
    }
  }
}
//发送短信验证码
.time_down{
  background: $bluer-base;
  &:focus{
    background: $bluer-base;
  }
}
.home{
  .home_location a:hover{
    color: $bluer-base;
  }
}
.con_inner,.con_inner_follow {
  .table {
    th, td {
      a {
        color: $bluer-base;
      }
    }
  }
}
.nav-tabs{
  li.active{
    a{
      background: $bluer-base;
    }
  }
}
.course_add {
  .add_ques{
    color: $bluer-base;
  }
  .reuser_follow {
    .info_title{
      .all_set{
        background: $bluer-base;
        &:hover{
          background: $blue-header-hover;
        }
      }
    }
    table td a{
      color: $bluer-base;
      &:hover{
        color: $blue-header-hover;
      }
    }
  }
  .searchlist{
    li{
      &:hover{
        background: $bluer-base;
      }
    }
    li.active{
      background: $bluer-base;
    }
  }
}

.change_btn,.btn_save{
  background: $blue_save;
  border:1px solid $bluer-base;
  &:hover{
    background: $bluer-base;
  }
}
.dialog-box {
  .dialog-box-title{
    background: $bluer-base;
  }
  .dialog-btn-confirm{
    background: $bluer-base;
  }
  .dialog-btn-confirm:hover{
    background: $blue-header-hover;
  }
}
.login .lg_inner .welcome_ch {
  color: $bluer-base;
}

// input:focus, select:focus, .form-control:focus {
//   border-color: $bluer-base;
// }
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: $blue-header-hover;
}

// 结构树
#treeview1 {
  span.active {
    color: $bluer-base;
  }
  .treeboxThree {
    li span.active {
      color: $bluer-base;
    }
  }
}

